<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Camera
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Camera</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card-content>
    <ion-button expand="block" color="primary" (click)="capturePhoto()">Take Photo</ion-button>
    <div *ngIf="photo">
      <img [src]="photo" />
    </div>   
  </ion-card-content>
</ion-content>
